.text-color {
  color: #1e40af;
}
.bg-color {
  background-color: #0a3657;
  color: white;
}
.icon-bg {
  background: rgb(248, 248, 252);
}
.text-hover:hover {
  /* color: rgb(236, 157, 11); */
  color: #0a3657;
}

.bg-secondary {
  background: #eaebec;
}

.table-head {
  background: #101829;
  color: white;
}
.bg-modal {
  background: rgb(0, 0, 0, 0.8);
}

/* ------------------------ Scroll Bar ------------------------ */
#sidebar::-webkit-scrollbar {
  width: 0px;
}


